doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Veritas
  body
    .header
      img#logo(src="/stylesheets/veritaslogo.png" alt="Image Title")
    
    div.nav   
      ul.nav
        li: a(href='#admin') Admin
        li: a(href='#statistics') Statistics
        li: a(href='#game') Game

    #admin.main-content
      block questions
      block quests

    .footer
      p Copyright © Veritas Projet.