doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Veritas
  body
    .header
      img#logo(src="/stylesheets/veritaslogo.png" alt="Image Title")
    
    div.nav   
      ul.nav
        li: a(href='/get_question_form') Admin
        li: a(href='#statistics') Statistics
        li: a(href='#game') Game

    .main-content
      div.wrap
        div.form#questions
          #form-title Ajouter une question
          div.formbox
            block questions
        div.form#quests
          #form-title Ajouter une quete
          div.formbox
            block quests
        div.form#bd-questions
        div.form#bd-quete

    .footer
      p Copyright © Veritas Projet.