doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Veritas
  body
    .header
      .logo
        img.logo(src="/stylesheets/veritaslogo.png" alt="Image Title")
    
    div.nav   
      ul.nav
        li: a(href='/main') Admin
        li: a(href='/statistics') Statistics
        li: a(href='/game') Game

    .main-content
      div.wrap
        #form-title Work in progress. 

    .footer
      p Copyright © Veritas 
      p Developped by Giulia Cantoni, Samuel Pilon and Nicolas Hamard